<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

	<servlet>
		<servlet-name>FirstServlet</servlet-name>
		<servlet-class>com.revature.servlets.FirstServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>HelloServlet</servlet-name>
		<servlet-class>com.revature.servlets.HelloServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdminLoginServlet</servlet-name>
		<servlet-class>com.revature.servlets.AdminLoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ListEmployeesServlet</servlet-name>
		<servlet-class>com.revature.servlets.ListEmployeesServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EmployeeLoginServlet</servlet-name>
		<servlet-class>com.revature.servlets.EmployeeLoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ListGradingFormatsServlet</servlet-name>
		<servlet-class>com.revature.servlets.ListGradingFormatsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>InsertEventServlet</servlet-name>
		<servlet-class>com.revature.servlets.InsertEventServlet</servlet-class>
	</servlet>

	
	<servlet-mapping>
		<servlet-name>FirstServlet</servlet-name>
		<url-pattern>/firstservlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HelloServlet</servlet-name>
		<url-pattern>/helloservlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminLoginServlet</servlet-name>
		<url-pattern>/adminlogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ListEmployeesServlet</servlet-name>
		<url-pattern>/listemployees</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EmployeeLoginServlet</servlet-name>
		<url-pattern>/employeelogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ListGradingFormatsServlet</servlet-name>
		<url-pattern>/listgradingformats</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InsertEventServlet</servlet-name>
		<url-pattern>/insertevent</url-pattern>
	</servlet-mapping>


</web-app>
